.margin-top-10{
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top:20px !important;
}

.center {
  margin: 0 auto;
  text-align:center;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    margin-top: 5px;
}

/* Modal Content */
.modal-content {
    margin-top:5px;
    margin-bottom: 5px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 200; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 200; opacity: 1}
}
