<html>
	<header>
    <link rel="stylesheet" type="text/css" href="../node_modules/bulma/css/bulma.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	</header>
	<body>
    <div class="container">
      <form action="" method="POST" class="margin-top-10">
        <p class="control has-icon margin-top-10">
          <input class="input is-medium" type="email" placeholder="Email">
          <i class="fa fa-envelope"></i>
        </p>
        <p class="control has-icon margin-top-10">
          <input class="input is-medium" type="password" placeholder="Password">
          <i class="fa fa-lock"></i>
        </p>
        <p class="control">
          <button class="button is-info" type="submit">
            Entrar
          </button>
          <button class="button is-info" type="submit">
            Cadastrar
          </button>
        </p>
      </form>
    </div>

	</body>
</html>
