<html>
	<header>
    <link rel="stylesheet" type="text/css" href="../node_modules/bulma/css/bulma.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	</header>
	<body>
    <div class="container">
      <form action="" method="POST" class="margin-top-10">
        <p class="control is-loading">
          <input class="input" type="text" placeholder="Loading input">
        </p>
        <p class="control is-loading">
          <textarea class="textarea" placeholder="Loading textarea"></textarea>
        </p>
      </form>
    </div>

	</body>
</html>
